/* This Code is for Load a Fonts*/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
/*For Chorom Scrool Bar*/
::-webkit-scrollbar {
	width: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 20px;
  }
  
	::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 20px;
  }
/* Start Css : */
:root {
    --Bg-gradient: #f3f4fb;
    --Bx-Color: #fff;
    --Title-Color: color: #484848;
    --Btn-Panel-Color: #2EE59D;
    --complimentary1: 
    --complimentary2: 

    --font-family: "IRANSans";
  
    --bg-gradient: linear-gradient(
      to bottom,
      hsl(var(--hue), 95%, 99%),
      hsl(var(--hue), 95%, 84%)
    );
  }

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    max-width: 1920px;
    min-height: 100vh;
    font-family: IRANSans;
    font-family: var(--font-family);
    background-color: var(--Bg-gradient);
  }
  
  .Conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  a{
    font-family: IRANSans;
    text-decoration: none;
  }
  header{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;;
    background-color: var(--Bx-Color);
    box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 15px 15px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-content: center;
}
.logo{
  display: flex;
  justify-content: flex-end;
}
nav{
  display: flex;
  align-items: center;
  margin-left: 200px;
  flex-direction: row-reverse;
}
nav a{
  margin: 0px 15px 0 15px;
  text-decoration: none;
  font-family: IRANSans;
  color : #fd3838 ;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-panel{
    width: 140px;
    height: 45px;
    font-family: 'IRANSans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    /* background-color: var(--Btn-Panel-Color); */
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 30px;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  
  }
  .btn-panel:hover{
    background-color: #fff;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }
 .User-Panel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
 }
 .Right-Side{
    width: 310px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
    border-radius: 25px;
    margin-left: 5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.Panel-Title h2{
    text-align: center;
    font-family: "IRANSans";
    margin: 25px 25px;
}
.Tabs-Head{
    display: flex;
    text-align: center;
    font-family: "IRANSans";
    flex-direction: column;
} 
.Tabs-Toggle{
    cursor: pointer;
    padding: 10px;

}
.Tabs-Toggle:hover{
  color:  #fd3838;  
  cursor: pointer;
  /* transform: translateY(-2px); */
}
.Tabs-Head .Tabs-Toggle{
    margin: 15px 15px;
}

.Tabs-Title{
  font-weight: 600;
  font-size: 24px;
  color: #484848;
  margin-bottom: 20px;
  text-align: center;
  font-family: "IRANSans";

}
.Tabs-text{
  font-size: 14px;
  line-height: 1.2;
  color: #484848; 
  font-family: "IRANSans";
}
.Tabs-Content{
  display: none;
  text-align: center;
}
.Tabs-Toggle.is-active{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    border-radius: 8px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.Tabs-Toggle.is-active .Tabs-Name{
  color:  #fff;  

}
.Tabs-Content.is-active{
  display: block;
}
#exite-btn{
  color: #fd3838;
  
}
 .Left-Side{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 910px;
  height: 500px;
  background-color: var(--Bx-Color);
  margin-right: 5px;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
/*Home Menu start*/
.wel-box{
  display: flex;
    width: 800px;
    font-family: "IRANSans";
    box-shadow: -15px -15px 25px rgb(255 255 255 / 75%), 15px 15px 25px rgb(186 190 204 / 43%), inset 10px 10px 20px 2px rgb(0 0 0 / 3%);
    border-radius: 20px;
    text-align: center;
    padding: 20px 25px;
    margin-bottom: 379px;
}
.wel-text{
  margin: 0 auto;
  color: #fd3838;
}
.wel-text-name{
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
/*Home Menu End*/


.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 30px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -40px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

.product-form{
  display: flex;
  margin: 20px;
}
.PR-Form{
  background-color: #fff;
  height: auto;
  width: 100%;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  display: flex;
  border: solid 1px #fd3838;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "IRANSans";
  margin: 20px 20px 0 20px;
}
.PR-inputs{
  flex-basis: 75%;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.PR-text-input {
  direction: rtl;
  font-family: "IRANSans";
  width: 140px;
  height: 40px;
  border-radius: 8px;
  background-color: #fe8a3936;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.PR-text-input:hover {
  background-color: #fe8a3959;
}
.PR-buttons{
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  flex-direction: row-reverse;
}


#PR-submit {
  font-family: "IRANSans";
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 140px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  color: #fff;
  display: inline-block;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#PRsubmit:hover{
  background-color: #0a8ef2;
  box-shadow: 0 0 60px 0 #ccc;
  transition: .4s;
  transform: scale(1.02)
}

#PR-reset{
  font-family: "IRANSans";
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 140px;
  background-color: #fe8a3929;
  color: #fd3838;
  display: inline-block;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#PR-reset:hover{
  box-shadow: 0 0 60px 0 #ccc;
  transition: .4s;
  transform: scale(1.02);
}
#ProductName{
  margin-bottom: 15px;
}
.PR-Table{
  background-color: #fff;
  height: 155px;
  margin: 20px;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 20px 5px 5px 20px;
  padding: 30px 30px 30px 30px;
  display: flex;
  border: solid 1px #fd3838;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "IRANSans";
  -webkit-border-radius: 20px 5px 5px 20px;
  -moz-border-radius: 20px 5px 5px 20px;
  -ms-border-radius: 20px 5px 5px 20px;
  -o-border-radius: 20px 5px 5px 20px;
}

/*Users Menu Start*/
.product-form{
  display: flex;
  margin: 20px;
}
.User-Form{
  background-color: #fff;
  height: auto;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  display: flex;
  border: solid 1px #fd3838;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "IRANSans";
  margin: 20px 20px;
}
.User-inputs{
  flex-basis: 75%;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.User-text-input {
  direction: rtl;
  font-family: "IRANSans";
  width: 21%;
  height: 30px;
  margin: 4px 0;
  border-radius: 8px;
  background-color: #fe8a3936;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.User-text-input:hover {
  background-color: #fe8a3959;
}
.User-buttons{
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.sbf{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#user-type-selector{
  width: 140px;
  margin-right: 14px;
  height: 40px;
}
#User-submit {
  font-family: "IRANSans";
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 190px;
  margin-left: -15px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  color: #fff;
  display: inline-block;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#User-submit:hover{
  background-color: #0a8ef2;
  box-shadow: 0 0 60px 0 #ccc;
  transition: .4s;
  transform: scale(1.02)
}

#User-reset{
  font-family: "IRANSans";
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 190px;
  background-color: #fe8a3929;
  color: #fd3838;
  display: inline-block;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#User-reset:hover{
  box-shadow: 0 0 60px 0 #ccc;
  transition: .4s;
  transform: scale(1.02);
}
#ProductName{
  margin-bottom: 15px;
}
.User-Table{
  background-color: #fff;
  height: 155px;
  margin: 20px;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 20px 5px 5px 20px;
  padding: 30px 30px 30px 30px;
  display: flex;
  border: solid 1px #fd3838;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "IRANSans";
  -webkit-border-radius: 20px 5px 5px 20px;
  -moz-border-radius: 20px 5px 5px 20px;
  -ms-border-radius: 20px 5px 5px 20px;
  -o-border-radius: 20px 5px 5px 20px;
}
/*Users Menu End*/

.container{
  direction: rtl;
}
.table-wrapper {
  background: #fff;
  /* padding: 20px 25px; */
  margin: -5px -30px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
padding-bottom: 15px;
background: #435d7d;
color: #fff;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: #fff;
float: right;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 10px;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 4px 15px;
  vertical-align: middle;
  display: revert;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
table.table tr th:first-child {
width: 60px;
}
table.table tr th:last-child {
width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
background-color: #fe8a3936;
}
table.table-striped.table-hover tbody tr:hover {
background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}	
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
  margin: 0 5px;
}
table.table td a {
font-weight: bold;
color: #566787;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: #2196F3;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
.pagination {
  float: right;
  margin: 20px 30px 0 0 ;
  display: flex;
  flex-direction: row;
}
.page-item{
  display: inline;
}
.pagination li a {
  border: none;
  text-decoration: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
  background: #fe8a39;
  color: #fff;
}
.pagination li.active a:hover {        
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
  text-decoration: none;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}    


/* Modal styles */
.modal .modal-dialog {
max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
padding: 20px 30px;
}
.modal .modal-content {
border-radius: 3px;
}
.modal .modal-footer {
background: #ecf0f1;
border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
border-radius: 2px;
box-shadow: none;
border-color: #dddddd;
}
.modal textarea.form-control {
resize: vertical;
}
.modal .btn {
border-radius: 2px;
min-width: 100px;
}	
.modal form label {
font-weight: normal;
}	
.clearfix{
  display: flex;
  justify-content: center;
}
.Inp-Search{
  direction: rtl;
  font-family: "IRANSans";
  width: 140px;
  height: 30px;
  border-radius: 8px;
  background-color: #fe8a3936;
  border: none;
  outline: none;
  cursor: pointer;
}
.SearchBox{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 7px;
}
.Inp-Search:hover{
  background-color:#fe8a3959;
}
.btn-Search{
  font-family: "IRANSans"!important;
  border: none;
  width: 70px;
  height: 30px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  color: #fff;
  border-radius: 8px;
}
#inpSearchBox{
  margin-left:10px
}
legend{
  border: solid 1px #fd3838;
  background-color: #fff;
  padding: 1px 6px;
  font-size: 12px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  margin-top: -43px;
}
.td-btn{
  display: flex;
  justify-content: center;
}
 footer{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--Bx-Color);
    box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-family: IRANSans;
    margin: 15px 155px;
}
.btn-warning{
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  color: #fff;
}
#UserTBL{
  /* margin: 0 120px; */
}